h1 {
font-size: 64px;
text-align: center;
margin:40px;
}

.instructions {
    text-align: center;
    font-size: 20px;
    font-style: bold;
    margin: 40px;
}

#start-button {
   text-align: center;
   background-color: chocolate; 
   font-size: 24px;
   padding: 5px;
   border-radius: 5px;
   margin: 20px
   
}

.highscore {
    font-size: 20px;
}

ul li {
    list-style-type: none;
}

body.div#timer {
    font-style: italic;
}

ul.answers {
    font-size: 24px;
    

}

h2.questions {
    font-size: 36px;
}

#timer {
    font-style: italic;
    font-size:x-large 24px;
}

.game-over {
    display: none;
}

form {
    padding-top: 30px;
}

#clear-scores {
    background-color: lavender;
    font-size: large;
    border-radius: 5px;
}

#submit-button {
    background-color: orange;
    font-size: 16px;
    border-radius: 4px
}

.lastscore {
    font-size: 20px;
}

.Finalscore {
    font-size: 20px;
}

.Enterinit {
    font-size: 20px;
}

.High {
    font-size: 20px;
}